<table width="100%" border="0">
  <tr>
    <td bgColor="#333333" colSpan="2">
      <font face="arial, helvetica" color="#ffffff">Backwater Creek Community</font>
    </td>
  </tr>

  <tr>
    <td vAlign="top">&nbsp;<a href="search">Search</a> | <a href="mobile_search">Mobile</a> | {{#if session.login}}<a href="logout">Logout</a>{{else}}<a href="login">Login</a>{{/if}}</td>
    <td align="right">
      <IMG alt="Backwater Creek Community" src="res/logo.jpg">
    </td>
  </tr>
</table>