<!DOCTYPE html>
<HTML>
  <HEAD>
    <title>Backwater Creek Community Library - Simple Search</title>
    <LINK href="res/styles.css" type="text/css" rel="stylesheet">

  </HEAD>
  <body link="#660000">
<!-- begin header -->
{{>desktop_header}}
<!-- end header -->
    <form method="post" action="login" >

      <P>&nbsp;</P>

      <P>&nbsp;</P>
      <table cellpadding="5" cellspacing="5" align="center">
        <tr>
          <td valign="top" align="right"><b>Username:</b></td>
          <td valign="top">
            <input name="txtUsername" type="text" /></td>
        </tr>
        <tr>

          <td valign="top" align="right"><b>Password:</b></td>
          <td valign="top">
            <input name="txtPassword" type="password"  /></td>
        </tr>
        <tr>
          <td colspan="2" valign="top" align="right"><input type="submit" name="btnLogin" value="Login"/></td>
        </tr>
      </table>
    </form>
  </body>
</HTML>
